<!DOCTYPE html >

<html>
<head>
  <meta charset="utf-8" />
  <title>测试</title>
  <script src="../js/angular.min.js"></script>
  <script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
</head>
<body ng-app="myApp">
  <div ng-controller="TextController">
   <p>{{someText}}</p>

   <select name="" ng-model="selectedSite" id="">
     <option ng-repeat="x in sites" value="{{x.url}}">{{x.site}}</option>
   </select>
   <h2>你选择的是：{{selectedSite}}</h2>
   <h1>隐藏 DIV: <input type="checkbox" ng-model="myCheck"></h1>

   <div ng-hide="myCheck"></div>
   <h3>{{myCheck}}</h3>
 </div>
 <div ng-view></div>
</body>
<script>
  var myApp = angular.module('myApp', ['ngRoute']);
  myApp.controller('TextController', function ($scope) {
    $scope.someText = '测试显示内容，注意我是不变的哦';
    $scope.sites=[
    {site:"Google",url:"http://www.google.com"},
    {site:"Runoob",url:"http://www.Runoob.com"},
    {site:"Taobao",url:"http://www.taobao.com"}
    ];
  });

    //路由
    function emailRouteConfig($routeProvider) {
      $routeProvider.
      when('/', {
        controller: ListController,
        templateUrl: 'list.html'
      }).
      when('/view/:id', { //在id前面加一个冒号，从而制订了一个参数化URL
        controller: DetailController,
        templateUrl: 'detail.html'
      }).
      otherwise({
        redirectTo: '/'
      });
    }

    myApp.config(emailRouteConfig);//配置我们的路由

    messages = [{
      id: 0, sender: "12345@qq.com", subject: "你好，这是一封邮件", date: "2015年4月13日", recipients: ['wifei1@163.com'], message: "你好，我是xxx，这是发送给您的邮件。"
    }, {
      id: 1, sender: "123456@qq.com", subject: "你好，这是二封邮件", date: "2016年4月14日", recipients: ['wifei2@163.com'], message: "你好，我是xxx，这是发送给您的邮件。"
    }, {
      id: 2, sender: "12345678@qq.com", subject: "你好，这是三封邮件", date: "2017年4月15日", recipients: ['wifei3@163.com'], message: "你好，我是xxx，这是发送给您的邮件。"
    }];

    function ListController($scope) {
      $scope.messages = messages;
    }

    function DetailController($scope,$routeParams) {
      $scope.message = messages[$routeParams.id];
    }
  </script>
  </html>