<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="../js/angular.min.js"></script>
	<title>选项卡-angular</title>
	<style>
		.active{
			background: #ff5722;
		}
	</style>
</head>
<body ng-app="Tabs">
<div class="tabs" ng-controller="tabCtrl">
	<nav>
		<a href="javascript:;" ng-class="{active:type=='local'}" ng-click="switch('local')">国内新闻</a>
		<a href="javascript:;" ng-class="{active:type=='global'}" ng-click="switch('global')">国际新闻</a>
		<a href="javascript:;" ng-class="{active:type=='sports'}" ng-click="switch('sports')">体育新闻</a>
		<a href="javascript:;" ng-class="{active:type=='funny'}" ng-click="switch('funny')">娱乐新闻</a>
	</nav>
	<div ng-switch on="type">
		<section class="cont" ng-switch-when="funny" id="funny">
			<ol>
				<li>funny funny funny funny funny funny funny funny funny </li>
				<li>funny funny funny funny funny funny funny funny funny </li>
				<li>funny funny funny funny funny funny funny funny funny </li>
				<li>funny funny funny funny funny funny funny funny funny </li>
			</ol>
		</section>
		<section class="cont" ng-switch-when="local" id="local">
			<ol>
				<li>local  local local local local local local local local </li>
				<li>local  local local local local local local local local </li>
				<li>local  local local local local local local local local </li>
				<li>local  local local local local local local local local </li>
			</ol>
		</section>
		<section class="cont" ng-switch-when="global" id="global">
			<ol>
				<li>global global global global global global global global </li>
				<li>global global global global global global global global </li>
				<li>global global global global global global global global </li>
				<li>global global global global global global global global </li>
			</ol>
		</section>
		<section class="cont" ng-switch-when="sports" id="sports">
			<ol>
				<li>sports sports sports sports sports sports sports sports</li>
				<li>sports sports sports sports sports sports sports sports</li>
				<li>sports sports sports sports sports sports sports sports</li>
				<li>sports sports sports sports sports sports sports sports</li>
			</ol>
		</section>
	</div>
</div>
	<script>
		var tabs=angular.module('Tabs',[]);
		tabs.controller('tabCtrl',['$scope',function($scope){
			$scope.type="local";
			$scope.switch=function(type){
				$scope.type=type;
			}
		}]);
	</script>
</body>
</html>